@font-face {
    font-family: Minion Pro;
    src: local('Minion Pro Regular') 
    	local('Minion-Pro-Regular')
    	url(fonts/MinionPro-Regular.otf)
    	format('opentype');
}

html, body {
	font-family: 'Minion Pro', serif;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}


p {
	margin: 0;
}

header {
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 100;
 }

.logo {
	height: 18em;
	display: block;
}

div.section {
	height: 100vh;
}
 
 .cover {
 	height: 95%;
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 	padding-top: 1.25em;
 	padding-bottom: .5em;
 }

.padding {
	padding-top: 2em;
	padding-bottom: 2em;
}


.container{
  width: 100%;
  }

.navbar-fixed-left {
  position: fixed;
  display: block;
  width: 70px;
}

.nav-top {
	display: inline-block;
	float: left;
	width: 50%;
	padding-top: .55em;
	position: fixed;
	top: 0;
 }

.nav-top.black ul li a {
	color: black;
	text-decoration: none;
    padding-right: 1em;
    display: block;
    height: 3em;
}

#main {
	height: 2500px;
}

#below-main {
	height: 500px;
}

.nav-right {
	display: inline-block;
	float: right;
	width: 50%;
	padding-top: 1.1em;
}


.contents {
	width: 100%;
  	background-color: white;
  	display: inline-flex;
  	padding-top: 1em;
  	padding-bottom: .5em;
}

.contents-adjust {
	float: right;
	padding-right: 2em;
}

.masthead {
	color: black;
	text-align: center;
}

.vertical-center {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.editor {
	color: black;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: justify;
}

.editor17 {
	color: black;
	font-size: .9em;
	padding-left: 2em;
	padding-right: 2em;
	text-align: justify;
	margin-left: 4.5em;
	margin-right: 4.5em;
	padding-top: 4em;
}

#column1 {
	padding-left: 10em;
	padding-right: 2em;
}

#column2 {
	padding-left: 2em;
	padding-right: 10em;
}

.col-1-4 {
	width: 25%;
	float: left;
	line-height: 1.25em;
}

.editorcol-1-2 {
	width: 50%;
	float: left;
	margin: 0 auto;
	text-align: justify;
		padding-top: 4.5em;
		font-size: .9em;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    display: -webkit-inline-box;
    padding-left: 4em;
    font-size: .8em;
}

.nav-top.white ul li a {
	color: white;
	text-decoration: none;
    padding-right: 1em;
}

ol li a {
    display: block;
    color: #000000;
    padding-bottom: .25em;

}

div a {
	list-style-type: none;
	text-decoration: none;
}


h4 {
	text-align: center;
	font-size: 0.25em;
}

.parallax { 
   background-image: url("bigcover.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 { 
    background-image: url("bigcover.jpeg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ol {
	list-style-type: none;
	margin: 0 auto;
	padding-left: 3em;
}

ol.contentscolumn2{
	padding-left: 4em;
}

#center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carton {
 width: 80%;
 margin-right:auto;
 margin-left:auto;
 overflow: hidden;
 padding-top: 6.250em;
}

a:-webkit-any-link {
	color: #000000;
}


/* gio contributors

.flex-cell img {
  display: inline-block;
  height: 100%;
  margin-right: -20px;
}
.flex-cell {
	display: inline-block;
	height: 90%;
	margin-top: 20px;

}


 /*
.rotatedtext {
	display: inline-block;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(270deg);
    position: relative;
    bottom: 60px;
    height: 20px;
    margin-right: -40px;
}
 */

/* --- flex for contributors --- */
.contribcontainer {
    display: -webkit-inline-box;
    height: 100%;
    justify-content: center;
    position: relative;
    width: auto;

}
.textwrapper {
    margin-top: 53%;
    width: 1.5em;  
    line-height: 2.5;
    font-size: 1.25em;  
  
}

#contribcolumn1 {
	    margin-top: 4%;
	margin-left: 10%;
}

#contribcolumn2 {
	    margin-top: 4%;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { @media { _:-webkit-full-screen, .textwrapper { margin-top:28%; } } }

.rotatetext {
    display: inline-block;
    transform: translate(0px, 14.5em) rotate(-90deg);
    transform-origin: 0 0 0;
    -webkit-transform: translate(0px, 14.5em) rotate(-90deg);
    -webkit-transform-origin: 0 0 0;
  
}

.rotatetext p {
	white-space: nowrap;
}

.flex-container {
  padding: 0;
  margin: 0;
  display: inline;
}

.flex-item1 {
  padding: 5px;
  width: auto;
  height: 75%;
  margin-top: 40%;
}

.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.galleryItem {
 float: left;
 width: 16%;
}
.center {
	text-align: center;
}

.down-arrow {
	margin-left: auto;
	margin-right: auto;
	height: 2em;
	width: auto;
	display: block;
}



.center-horizontal {
	left: 49%;
}
.bottom-align {
	position: absolute;
	bottom: 5px;
}

.small-margin {
	margin: .5% .5% 14px 0;
}

.story {
	font-size: .8em;
}

.parent-container {
	position: relative;
	background-color: white;
}

.scroller {
	padding-left: 13em;
}


.underline {
	text-decoration: underline;
}

.break {
	display: none;
}

address {
	padding-bottom: 1em;
}
address a {
	text-decoration: none;
	color: inherit;
	font-style: normal;
	font-size: .75em;
}

address p {
	font-size: 2em;
}
footer {
	padding-bottom: .25em;
}
.social-media {
	margin: 0 auto;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}



#hint {
	position: absolute;
	width: 8em;
	left: 2.6%;
	top: 4050px;
	line-height: 1.1;
}

#hint img {
	height: 4em;
	padding-right: 0;
}

#hint p {
	padding-left: .7em;
}


#warning-message {visibility: hidden; }

div.flexslider img {
	max-height: 100vh;
	max-width: 90%;
	float: right;
	background-color: white;
}

.slides li iframe {
	height: 89vh;
	width: 89vw;
}

	#mobilearrow{
		display: none;
		visibility: hidden;
	}

/*
 @media only screen and (orientation:portrait){
        #wrapper { display:none; }
        #warning-message {
        	position: relative;
        }
		#warning-message img { 
        	position: absolute;
        	height: 831px;
        	width: 642px;
        	top: -1046px;
        	visibility: visible;
		}
    }

    @media only screen and (orientation:landscape){
        #warning-message { display:none; }

        */
    }
/* media queries for laptops*/

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}
	
	#mobilearrow{
		display: none;
		visibility: hidden;
	}

}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}

	#mobilearrow {
	display: none;
	visibility: hidden;
}
}

/* media queries */
@media only screen and (max-width : 940px), only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px), only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px), only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
}
 
@media only screen and (max-width : 320px), only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 3em;}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
	

	.logo {
		height: 27em;
		transform: rotate(90deg);
		margin-left: 247px;
		margin-top: -175px;

	}

	.nav-top {
		padding-top: 39px;
		margin-left: 424px;
	}

	ul {
		font-size: 1.4em;
		padding-left: 3.75em;
	}

	ul li a {
		padding-right: 1.25em;
	}
	.cover {
	height: 1094px;
	width: 819px;
	margin: 0 auto;
	padding-top: 70px;
	}

	.down-arrow {
	height: 6em;
	width: 6em;
	}

	.contentsarrow {
		top: 1050px;
	}

	.center-horizontal {
		left: 44%;
	}

	.masthead {
		font-size: 2.5em;
		width: 100%;
	}

	.break {
		display: block;
	}

	.editorcol-1-2 {
		font-size: .8em;
	}
	.parallax { 
    background-image: url("bigcover.jpeg");
    background-attachment: scroll;
	background-position: center;
	background-size: cover;
	}

	.parallax2 { 
    display: none;
}
	
	
	.contents-adjust {
	float: none;
	padding-right: 0;
	}

	.scroller {
	padding-left: 0;
}
	.col-1-4 {
		font-size: 2.25em;
	}

	.col-1-2 {
		width: 50%;
	}

	.nav-left {
	width: 40%;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	#center-vertical {
		display: block;
	}
	
	#hint {
		visibility: hidden;
	}

	address {
		padding-bottom: 1em;
	}
	
	address a {
	font-size: 1.5em;
	}
	
	address p {
	font-size: 3em;
	}

	footer img {
		max-height: 50px;
   		max-width: 50px;
     	width: auto;
     	height: auto;
	}

	
	#contribcolumn2 {
		margin-top: 0%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#contribcolumn1 {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5%;
	}

	.contribcontainer {
		display: inline-flex;
		height: 50%;
		position: relative;
	}

	.textwrapper {
		margin-top: 37%;
		font-size: 2em;
	}

	.flex-container {
		height: 50vh;
	}
/*
	@supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) { .textwrapper { margin-top:37%; font-size: 2em; } #contribcontainer {margin-left: 10%;}} }
	_:-webkit-full-screen:not(:root:root), .textwrapper { margin-top:37%; font-size: 2em;} 

*/

	*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
	}	
}




/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	.logo {
		height: 27em;
		transform: rotate(90deg);
		margin-left: 247px;
		margin-top: -175px;

	}

	.nav-top {
		padding-top: 39px;
		margin-left: 424px;
	}

	ul {
		font-size: 1.4em;
		padding-left: 3.75em;
	}

	ul li a {
		padding-right: 1.25em;
	}

	.cover {
	height: 1094px;
	width: 819px;
	margin: 0 auto;
	padding-top: 70px;
	}

	.down-arrow {
	height: 7em;
	width: 7em;
	}

	.contentsarrow {
		top: 1050px;
	}

	.masthead {
		font-size: 2.5em;
		width: 100%;
	}


	.break {
		display: block;
	}

	.editor {
		font-size: 2.3em;
		width: 80%;
	}

	.editorcol-1-2 {
		font-size: .8em;
	}

	.parallax { 
    background-image: url("bigcover.jpeg");
    background-attachment: scroll;
	background-position: center;
	}

		.parallax2 { 
    display: none;
}

	.contents-adjust {
	float: none;
	padding-right: 0;
	}

	.scroller {
	padding-left: 0;
}

	.col-1-4 {
		font-size: 2.25em;
	}
	.col-1-2 {
		width: 50%;
	}

	.nav-left {
	width: 40%;
	}

	h4 {
		font-size: 2em;
	}

	h3 {
		font-size: 5em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	#center-vertical {
		display: block;
	}
	
	#hint {
		visibility: hidden;
	}
	
	address {
		padding-bottom: 1em;
	}
	
	address a {
	font-size: 1.5em;
	}
	
	address p {
	font-size: 3em;
	}

	footer img {
		max-height: 50px;
   		max-width: 50px;
     	width: auto;
     	height: auto;
	}




*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
	}	

}



/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
	
.logo {
		height: 27em;
		transform: rotate(90deg);
		margin-left: 247px;
		margin-top: -175px;

	}

	.nav-top {
		padding-top: 39px;
		margin-left: 424px;
	}

	ul {
		font-size: 1.4em;
		padding-left: 3.75em;
	}

	ul li a {
		padding-right: 1.25em;
	}
	.down-arrow {
	height: 8em;
	width: 8em;
	}

	.contentsarrow {
		top: 1050px;
	}

	.masthead {
		font-size: 2.5em;
		width: 100%;
	}
	
	.break {
		display: block;
	}

	.editor {
		font-size: 2.3em;
		width: 80%;
	}

	.editorcol-1-2 {
		font-size: .9em;
	}

	.parallax { 
    background-image: url("bigcover.jpeg");
    background-attachment: scroll;
	background-position: center;
	}

	.parallax2 { 
    display: none;
}

.contents-adjust {
	float: none;
	padding-right: 0;
	}

	.scroller {
	padding-left: 0;
}	

	.col-1-4 {
		font-size: 2.25em;
	}
	.col-1-2 {
		width: 50%;
	}

	.nav-left {
	width: 40%;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}

	#hint {
		visibility: hidden;
	}

	address {
		padding-bottom: 1em;
	}

	address a {
	font-size: 1.5em;
	}
	
	address p {
	font-size: 3em;
	}

	footer img {
		max-height: 50px;
   		max-width: 50px;
     	width: auto;
     	height: auto;
	}
	
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
	}	


}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.logo {
		height: 25em;
		transform: rotate(90deg);
		margin-left: 224px;
		margin-top: -170px;

	}

	.nav-top {
		padding-top: 28px;
		margin-left: 400px;
	}

	ul {
		font-size: 1.4em;
		padding-left: 3.75em;
	}

	ul li a {
		padding-right: 1.25em;
	}


	.cover {
	height: 86vh;
	width: auto;
	margin: 0 auto;
	padding-top: 4em;
	}

	.down-arrow {
	height: 8em;
	width: 8em;
	}

	.contentsarrow {
	top: 800px;
}


	.center-horizontal {
		left: 43%;
	}
	.masthead {
		font-size: 2em;
		width: 100%;
	}
	
	.break {
		display: block;
	}

	.editor {
		font-size: 2.3em;
		width: 80%;
	}

	.parallax { 
    background-image: url("bigcover.jpeg");
    background-attachment: scroll;
	background-position: center;
	}

	.parallax2 { 
    display: none;
}

.contents-adjust {
	float: none;
	padding-right: 0;
	}

	.scroller {
	padding-left: 0;
}	

	.col-1-4 {
		font-size: 2.25em;
	}
	.col-1-2 {
		width: 50%;
	}

	.editorcol-1-2 {
		font-size: 1.05em;
	}

	#column1 {
		padding-left: 6em;
	}

	#column2 {
		padding-right: 6em;
	}

	.nav-left {
	width: 40%;
	}

	ol {
		padding-left: 1.6em;
	}

	ol.contentscolumn2{
	padding-left: 1.6em;
}


	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}

	#hint {
		visibility: hidden;
	}

	address {
		padding-bottom: 1em;
	}

	address a {
	font-size: 1em;
	}
	
	address p {
	font-size: 3em;
	}

	footer img {
		max-height: 50px;
   		max-width: 50px;
     	width: auto;
     	height: auto;
	}

	.flex-container {
		width: 7%;
	}

	_:-webkit-full-screen:not(:root:root), .class { -webkit-transform: translate(0px, 14.5em) rotate(-90deg); }

	*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
	}	

}



/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	#container {
		height: auto;
	}

	.flex-container {
		width: 6%;
	}

	.flex-item1 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
   order: 2;
   flex-grow: 1;
  margin-right: 1em;

}

.flex-item2 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
    order: 2;
   flex-grow: 1;
  margin-right: 1em;
}

.flex-item3 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 2;
  flex-grow: 1;
    margin-right: 1em;
}

.flex-item4 {
  padding: 5px;
    width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 2;
  flex-grow: 1;
    margin-right: 1em;
}

.flex-item5 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 1;
  flex-grow: 1;
    margin-right: 1em;
    float: right;
}

.flex-item6 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 1;
  flex-grow: 1;
    margin-right: 1em;
        float: right;
}

.flex-item7 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 1;
  flex-grow: 1;
    margin-right: 1em;
        float: right;
}

.flex-item8 {
  padding: 5px;
  width: 6em;
  height: 100%;
  margin-top: 10px;
  order: 1;
  flex-grow: 1;
      float: right;
}


	
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.flex-container {
		width: 7%;
	}

	.textwrapper {
    margin-top: 56%;
 }

#contribcolumn1 {
	margin-left: 0;
}

.contribcontainer {
	margin-right: 20%;
	margin-left: 20%;
}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}