@font-face {
    font-family: Minion Pro;
    src: local('Minion Pro Regular') 
    	local('Minion-Pro-Regular')
    	url(fonts/minionproregular.ttf)
    	format('truetype');

    src: local('Minion Pro Regular') 
    	local('Minion-Pro-Regular')
    	url(fonts/minionproregular.otf)
    	format('opentype');
}

html, body {
	font-family: 'Minion Pro', serif;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

p {
	margin: 0;
}

header {
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 100;
 }

.logo {
	height: 18em;
}

 .cover {
 	background-attachment: fixed;
    background-position: top 2em center;
    background-repeat: no-repeat;
  	background-size: 456px 570px;
 	height: 95%;
 	 }

.one {
	background-image: url('http://nicotinemag.com/enter/enter_images/frontcover01.jpg');
}

.two {
	background-image: url('http://nicotinemag.com/enter/enter_images/frontcover02.jpg');
}

.cover-padding {
	padding-left: 50px;
	padding-right: 50px;
}

.padding {
	padding-top: 2em;
	padding-bottom: 2em;
}
.bg-color {
	background-color: white;
}

.container{
  width: 100%;
  }

.navbar-fixed-left {
  position: fixed;
}

.nav-top {
	display: inline-block;
	float: left;
	width: 50%;
	padding-top: .55em;
	position: fixed;
	top: 0;
 }

.nav-top.black ul li a {
	color: black;
	text-decoration: none;
    padding-right: 1em;
}

#main {
	height: 2500px;
}

#below-main {
	height: 500px;
}

.nav-right {
	display: inline-block;
	float: right;
	width: 50%;
	padding-top: 1.1em;
}


.contents {
	width: 100%;
  	background-color: white;
  	display: inline-flex;
  	padding-top: 1em;
  	padding-bottom: .5em;
}

.contents-adjust {
	float: right;
	padding-right: 3em;
}

.masthead {
	color: black;
	text-align: center;
}

.vertical-center {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.editor {
	color: black;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.col-1-4 {
	width: 25%;
	float: left;
	line-height: 1.25em;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    display: -webkit-inline-box;
    padding-left: 4em;
    font-size: .8em;
}

.nav-top.white ul li a {
	color: white;
	text-decoration: none;
    padding-right: 1em;
}

ol li a {
    display: block;
    color: #000000;
    padding-bottom: .25em;

}

div a {
	list-style-type: none;
	text-decoration: none;
}

h3 {
	text-align: center;
	padding-top: 2%;
	font-weight: bold;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h4 {
	text-align: center;
	font-size: 0.25em;
}

.parallax { 
    background-image: url("fullwidthplaceholder.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ol {
	list-style-type: none;
	margin: 0 auto;
}

#center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carton {
 width: 80%;
 margin-right:auto;
 margin-left:auto;
 overflow: hidden;
 padding-top: 6.250em;
}

.galleryItem {
 float: left;
 width: 16%;
}

.contributor{
	margin:  2% 2% 15px 2%;
}

.galleryItem h3 {
 text-align: center;
 color: #000000;
 font-size: 1em;
}
 
.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.center {
	text-align: center;
}

.down-arrow {
	margin-left: auto;
	margin-right: auto;
	height: 2em;
	width: 2em;
	display: block;
}

.bottom-align {
	position: absolute;
	bottom: 0;
}

.small-margin {
	margin: .5% .5% 14px 0;
}

.story {
	font-size: .8em;
}

.parent-container {
	position: relative;
}

.scroller {
	padding-left: 13em;

}

.underline {
	text-decoration: underline;
}

address a {
	text-decoration: none;
	color: inherit;
	font-style: normal;
	font-size: .75em;
}

address p {
	font-size: 2em;
}

.social-media {
	margin: 0 auto;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('white.gif') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
/* media queries for laptops*/

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}
}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}
}

/* media queries */
@media only screen and (max-width : 940px), only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px), only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px), only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
}
 
@media only screen and (max-width : 320px), only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 3em;}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
	
	.cover {
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		background-size: contain;
	}

	.cover-padding {
		padding-left: 50px;
		padding-right: 50px;
	}
	.parallax { 
    background-image: url("fullwidthplaceholder.png");
    background-attachment: scroll;
	background-position: top;
	}

	.nav-left {
	width: 40%;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	#center-vertical {
		display: block;
	}
	
	footer {
		font-size: 2em;
	}
	
	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}	


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	.cover {
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		background-size: contain;
	}

	.cover-padding {
		padding-left: 50px;
		padding-right: 50px;
	}
	.parallax { 
    background-image: url("fullwidthplaceholder.png");
    background-attachment: scroll;
	background-position: top;
	}

	.nav-left {
	width: 40%;
	}

	h4 {
		font-size: 2em;
	}

	h3 {
		font-size: 5em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	#center-vertical {
		display: block;
	}
	
	footer {
		font-size: 2em;
	}
	
	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}



/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
	.cover {
		max-height: 100%;
		max-width: 100%;
		margin: 0 auto;
		background-size: contain;
	}

	.cover-padding {
		padding-left: 50px;
		padding-right: 50px;
	}
	.parallax { 
    background-image: url("fullwidthplaceholder.png");
    background-attachment: scroll;
	background-position: top;
	}

	.nav-left {
	width: 40%;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}

	footer {
		font-size: 2em;
	}

	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}