@font-face {
	font-family: 'MinionProRegular', serif;
	src: local('MinionProRegular.ttf');
}

html, body {
	font-family: 'MinionProRegular', serif;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

p {
	margin: 0;
}

header {
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 100;
 }

.logo {
	height: 18em;
}

 .cover {
 	height: 100%;
 	max-height: 100%;
 	display: block;
 	margin-right: auto;
 	margin-left: auto;
 }

.bg-color {
	background-color: black;
}

.container{
  width: 100%;
  }

.navbar-fixed-left {
  position: fixed;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 20%;
}

.navbar-fixed-left + .container {
  padding-left: 120px;
}

.nav-top {
	display: inline-block;
	float: left;
	width: 50%;
	padding-top: .55em;
	position: fixed;
	top: 0;
 }

.nav-top.black ul li a {
	color: black;
	text-decoration: none;
    padding-right: 1em;
}

#main {
	height: 2500px;
}

#below-main {
	height: 500px;
}

.nav-right {
	display: inline-block;
	float: right;
	width: 50%;
	padding-top: 1.1em;
}


.contents {
	width: 100%;
  	background-color: white;
  	display: inline-flex;
  	padding-top: 1em;
  	padding-bottom: .5em;
}

.masthead {
	color: white;
	text-align: center;
}

.vertical-center {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.editor {
	color: white;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.col-2-3 {
  width: 66.66%;
  float: left;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 1.5em;
  padding-right: 10%;
}

.col-1-3 {
  width: 33.33%;
  float: left;
  padding-top: 5%;
  padding-right: 10%;
}

.col-1-2 {
	width: 50%;
	float: left;
	padding-left: 10%;
  	padding-top: 5%;
}

.col-1-4 {
	width: 12em;
	float: left;
	line-height: 1.25em;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.highlight {
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	display: -webkit-inline-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    display: -webkit-inline-box;
    padding-left: 4em;
    font-size: .75em;
}

.nav-top.white ul li a {
	color: white;
	text-decoration: none;
    padding-right: 1em;
}

ol li a {
    display: block;
    color: #000000;
    padding-bottom: .25em;

}

div a {
	list-style-type: none;
	text-decoration: none;
}

h1 {
	color: #000000;
	float: left;
	padding-top: 7.813em;
	padding-right: 7.813em;
	padding-left: 7.813em;
	vertical-align: top;
	font-size: 1.875em;
}

h2 {
	margin: 0;
}

h3 {
	text-align: center;
	padding-top: 2%;
	font-weight: bold;
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h4 {
	text-align: center;
	font-size: 0.25em;
}


.parallax3 { 
    background-image: url("fullwidthplaceholder.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ol {
	list-style-type: none;
	margin: 0 auto;
}

.section-header {
	display: inline-block;
	width: inherit;
	font-size: 3.750em;
	text-align: center;
	padding-top: 7%;
	padding-bottom: 3%;
}

.section-title {
	font-style: italic; 
	font-size: .6em;
}

.section-desc {
	text-align: center;
	display: inline-block;
	width: inherit;
}

.cancer-1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10%;
	padding-right: 0;
}

.cancer-2 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding-top: 10%;
	padding-right: 0;
}

.cancer-3 {
	padding-right: 0;
	text-align: center;
}

.cancer-sm {
	padding-top: 5%;
	line-height: 1em;
	font-size: .75em;
	text-align: center;

}

#center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background-color: #000000;
	background: url("uparrowicon.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.carton {
 width: 80%;
 margin-right:auto;
 margin-left:auto;
 overflow: hidden;
 padding-top: 6.250em;
}

.galleryItem {
 float: left;
 width: 16%;
}

.contributor{
	margin:  2% 2% 15px 2%;
}

.galleryItem h3 {
 text-align: center;
 color: #000000;
 font-size: 1em;
}
 
.galleryItem img {
 max-width: 100%;
 -webkit-border-radius: 1px;
 -moz-border-radius: 1px;
 border-radius: 1px;
}

.center {
	text-align: center;
}

.bottom-align {
	position: absolute;
	bottom: 0;
}

.small-margin {
	margin: .5% .5% 14px 0;
}

.story {
	font-size: .8em;
}

.parent-container {
	position: relative;
}

.start-issue {
	padding-left: 13em;
	height: 100vh;
	width: 100%;
	max-height: 100%;
	background-color: white;
}

.scroller {
	padding-left: 13em;

}

.page {
	height: 100vh;
	width: 100%;
  display: inline-block;
}

.one {
	padding-left: 13em;
  	background: url("IssueStartPlaceholder.png") no-repeat;
  	background-size: cover;
}

.two {
	padding-left: 13em;
 	background: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/lllllsmall01.jpg") no-repeat;
  	background-size: cover;
}

.three {
	padding-left: 13em;
	background: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/lllllsmall02.jpg") no-repeat;
  	background-size: cover;
}

.four {
	padding-left: 13em;
	background: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/NICOTINE%2016_Kent%20Andreasen2.jpg") no-repeat;
  	background-size: cover;
}

.five {
	background: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/NICOTINE%2016_Kent%20Andreasen3.jpg") no-repeat;
  	background-size: cover;
}

.underline {
	text-decoration: underline;
}

address a {
	text-decoration: none;
	color: inherit;
	font-style: normal;
	font-size: .75em;
}

address p {
	font-size: 2em;
}

.social-media {
	margin: 0 auto;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('white.gif') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
/* media queries for laptops*/

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}
}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 
	
	footer img {
	max-height: 30px;
   	max-width: 30px;
     	width: auto;
     	height: auto;
	}
}

/* media queries */
@media only screen and (max-width : 940px), only screen and (max-device-width : 940px){
	.galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px), only screen and (max-device-width : 720px){
	.galleryItem {width: 29.33333%;}
}

@media only screen and (max-width : 530px), only screen and (max-device-width : 530px){
	.galleryItem {width: 46%;}
}
 
@media only screen and (max-width : 320px), only screen and (max-device-width : 320px){
	.galleryItem {width: 96%;}
	.galleryItem img {width: 96%;}
	.galleryItem h3 {font-size: 3em;}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
	
	.parallax1 { 
	background-image: url(parallax640.jpg);
    background-attachment: scroll;
	background-position: top;
	}

	.parallax2 { 
    background-image: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/bigcover.jpg");
    background-attachment: scroll;
	background-position: top;
	}

	.parallax3 { 
    background-image: url("http://nicotinemag.com/enter/enter_images/frontcover02.jpg");
    background-attachment: scroll;
	background-position: top;
	}

	h5 {
		font-size: 2em;
		margin: 0;
		padding-left: 1em;
		padding-top: 0em;
	}

	.nav-left {
	width: 40%;
	}

	.nav-right {
		font-size: 2.25em;
		width: 60%;
	}

	.cancer-1 {
		padding-top: 20%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.cancer-2 {
		width: 50%;
	}

	.cancer-3 {
		width: 50%;
		font-size: 1em;
	}

	.cancer-sm {
		font-size: 4em;
	}

	h1 {
		padding-top: 10em;
		padding-right: 6em;
		padding-left: 2em;
		font-size: 4em;
		text-align: center;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-2-3 {
		width: 100%;
		font-size: 4em;
	}

	.highlight {
		visibility: hidden;
		font-size: 10px;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}
	
	footer {
		font-size: 2em;
	}
	
	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}	


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

	
	.parallax1 { 
	background-image: url(parallax640.jpg);
    background-attachment: scroll;
	background-position: top;
	}

	.parallax2 { 
    background-image: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/bigcover.jpg");
    background-attachment: scroll;
	background-position: top;
	}

	.parallax3 { 
    background-image: url("http://nicotinemag.com/enter/enter_images/frontcover02.jpg");
    background-attachment: scroll;
	background-position: top;
	}
	

	h5 {
		font-size: 2em;
		margin: 0;
		padding-left: 1em;
		padding-top: 0em;
	}

	.nav-left {
	width: 40%;
	}

	.nav-right {
		font-size: 2.25em;
		width: 60%;
	}

	.cancer-1 {
		padding-top: 20%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.cancer-2 {
		width: 50%;
	}

	.cancer-3 {
		width: 50%;
		font-size: 1em;
	}

	.cancer-sm {
		font-size: 4em;
	}

	h1 {
		padding-top: 10em;
		padding-right: 6em;
		padding-left: 2em;
		font-size: 4em;
		text-align: center;
	}

	h4 {
		font-size: 2em;
	}

	h3 {
		font-size: 5em;
	}

	.col-2-3 {
		width: 100%;
		font-size: 4em;
	}

	.highlight {
		visibility: hidden;
		font-size: 10px;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}
	
	footer {
		font-size: 2em;
	}
	
	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}



/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 

	
	.parallax1 { 
	background-image: url(parallax640.jpg);
    background-attachment: scroll;
	background-position: top;
	}

	.parallax2 { 
    background-image: url("http://nicotinemag.com/issuesixteen/issuesixteen_images/bigcover.jpg");
    background-attachment: scroll;
	background-position: top;
	}

	.parallax3 { 
    background-image: url("http://nicotinemag.com/enter/enter_images/frontcover02.jpg");
    background-attachment: scroll;
	background-position: top;
	}


	h5 {
		font-size: 2em;
		margin: 0;
		padding-left: 1em;
		padding-top: 0em;
	}


	.nav-left {
	width: 40%;
	}

	.nav-right {
		font-size: 2.25em;
		width: 60%;
	}
	.cancer-1 {
		padding-top: 20%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.cancer-2 {
		width: 50%;
	}

	.cancer-3 {
		width: 50%;
		font-size: 1em;
	}

	.cancer-sm {
		font-size: 4em;
	}
	
	h1 {
		padding-top: 10em;
		padding-right: 6em;
		padding-left: 2em;
		font-size: 4em;
		text-align: center;
	}

	h3 {
		font-size: 5em;
	}

	h4 {
		font-size: 2em;
	}

	.col-2-3 {
		width: 100%;
		font-size: 4em;
	}

	.highlight {
		visibility: hidden;
		font-size: 10px;
	}

	.col-1-4 {
		float: none;
		padding-bottom: 0;
	}

	.col-1-3 {
		width: 100%;
	}

	#center-vertical {
		display: block;
	}

	footer {
		font-size: 2em;
	}

	footer img {
	 max-height: 80%;
    	 max-width: 80%;
    	 width: auto;
    	 height: auto;
	}
}